<%if @event.errors.any?%>
  <section>
    <header>
      <h2>Opps! Your form could not be saved</h2>
      <h3>Please check your <%=pluralize(@event.errors.count, "error")%></h3>
    </header>
  </section>
  <%@event.errors.full_messages.each do |message|%>
    <p><%=message%></p>
  <%end%>
<%end%>
